main {
  width: 80%;
  margin: auto;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.case {
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  background-color: aquamarine;
}

.case:nth-child(2) {
  background-color: darksalmon;
}
