<h1>{{ title }}</h1>

<h2>Interpolation de texte et Javascript</h2>
<p>1 + 1 = {{1 + 1}}</p>

<p>Personnage : </p>
<ul>
  <li>Nom : {{user.nom}}</li>
  <li>Age: {{user.age}}</li>
</ul>

<h2>Expressions de template</h2>

<ul>
  <li *ngFor="let game of video_games">
    {{game}}
  </li>
</ul>

<ul>
  <li *ngFor="let char of characters">
    {{char.nom}}
  </li>
</ul>

<div *ngIf="users">
  <h3>Utilisateurs.trices :</h3>

  <ul>
    <li *ngFor="let u of users">
      {{u.name}} {{u.firstname}}
    </li>
  </ul>
</div>

<h2>Affichage conditionnel :</h2>

<h3>ngIf : </h3>
<div *ngIf="is_logged">
  <p>Vous êtes connecté.e</p>
</div>
<div *ngIf="!is_logged">
  <p>Veuillez vous connecter</p>
</div>

<h3>... Else</h3>
<div *ngIf="is_logged; else notConnected">
  <p>Vous êtes connecté.e</p>
</div>
<ng-template #notConnected>
  <p>Veuillez vous connecter</p>
</ng-template>

<!-- Version 13+ de Angular ? ng version -->
<h3>...then - else</h3>
<div *ngIf="is_logged; then logged else notLogged"></div>
<ng-template #logged>Bienvenue !</ng-template>
<ng-template #notLogged>Connectez vous !</ng-template>

<h2>Événements</h2>
<p (mouseover)="handleMouseOver()" >
  <button (click)="handleClic($event)">NE PAS CLIQUER !</button>
</p>

<div (click)="handleParentClic()" class="parent">
  <p (click)="handleChildClic($event)">
    <button (click)="handleClic($event)">Clic Clic</button>
  </p>
</div>


<h2>Property Binding</h2>

<div class="img-container">
  <img [src]="image_source">
  <img [src]="image.source" [alt]="image.alt">
  <img [src]=" 'https://i.redd.it/oy272bhkejb61.png' "
       [alt]="'Angry Space Sheep'"
  />
  <img src="https://i.etsystatic.com/5397455/r/il/ba2c59/1975450046/il_570xN.1975450046_j0oo.jpg"
       alt="another cat in space"/>
</div>

<div>
  <p [class]="is_logged? 'green' : 'red'">
    {{ is_logged? 'Connecté.e' : 'Non connecté.e' }}
  </p>
  <p>
    <button (click)="signIn()">
      {{is_logged? 'Déconnexion' : 'Connexion'}}
    </button>
  </p>
</div>


<h2>Data Binding Bis</h2>
<!--
Si is_logged est vrai, on met les classes green et toto,
Si user est truthy, on met la class 'class2'
-->
<p [ngClass]="{ 'green toto' : is_logged, 'class2' : user }">
  NgClass : string '', [array de strings],
  objet {{ '{ ' }}'class' : bool / truthy - falsy }
</p>


<!--
Plus de possibilités :
https://angular.io/guide/attribute-binding
https://angular.io/guide/property-binding
-->
