.parent {
  width: 100%;
  padding: 100px 20px;
  background-color: aquamarine;
}

.parent p {
  width: 50%;
  padding: 20px;
  background-color: crimson;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

img {
  width: 350px;
}

.green {
  color: forestgreen;
}

.red {
  color: crimson;
}
