nav {
  width: 100%;
  height: 70px;
  box-shadow: 2px 2px 8px darkgrey;
}

* {
  height: 100%;
  display: block;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
}

li {
  text-align: center;
  width: fit-content;
}

a:link, a:visited {
  color: teal;
  padding: 20px;
  border-bottom: solid 3px transparent;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2em;
}
a:hover {
  background-color: rgba(214, 213, 213, 0.11);
  border-bottom-color: teal;
}

